/* MAIN HTML ################################################################################################################## */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Stile per header */
header {
    background-color: #003476;
    color: #fff;
    padding: 20px;
    text-align: center;
    width: 100%; /* Occupa tutta la larghezza */
}

/* Style for h1 in header */
header h1 {
    margin: 0;
    font-family: Arial; /* Font moderno */
}

/* Style for dropdown */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Style for dropdown toggle */
.dropdown-toggle {
    cursor: pointer;
}

/* Style for dropdown content */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 1;
    top: 100%;
    left: 0;
    width: 100%;
}

/* Style for dropdown links */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Style for dropdown on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Style for dropdown toggle arrow */
.dropdown-toggle span {
    display: inline-block;
    margin-left: 5px;
    font-size: 10px;
}

/* Stile per il main */
main {
    display: grid;
    grid-template-rows: auto 1fr auto; /* Header, Content, Footer */
    min-height: 100vh; /* Altezza della pagina pari al 100% dell'altezza dello schermo */
}



/* Style for grid container */
.grid-container {
    display: grid;
    grid-template-columns: 1fr 2fr; /* Due colonne */
    gap: 10px;
    padding: 16px;
}

/* Style for photo */
.photo {
    text-align: center; /* Centra la foto orizzontalmente */
}

/* Stile per la colonna della biografia */
.bio {
    width: 90%; /* Imposta la larghezza desiderata */
    display: flex;
    flex-direction: column;
    font-family: Arial, sans-serif; /* Font moderno */
    line-height: 1.6; /* Distanza tra le righe del testo */
    text-align: justify; /* Giustifica il testo */
}

/* Stile per il titolo della biografia */
.bio h2 {
    color: #003476; /* Colore del titolo */
    font-size: 30px;
    text-align: center;
}

/* Style for biography text */
.bio p {
    color: #003476; /* Colore del testo */
    font-size: 20px; /* Modifica la dimensione del testo */
    text-align: justify;
}

.contact-info {
    font-family: Arial; /* Font moderno */
    color: #003476; /* Colore del testo */
    font-size: 18px; /* Modifica la dimensione del testo */
}

/* Stile per il footer */
footer {
    position: fixed; /* Posiziona il footer in modo fisso */
    bottom: 0; /* Posiziona il footer alla parte inferiore della finestra del browser */
    left: 0;
    width: 100%;
    background-color: #003476;
    color: #fff;
    padding: 10px 20px;
    text-align: center;
    font-family: Arial, sans-serif; /* Font moderno */
}

/* Stile per navigation bar */
.navbar {
    background-color: #333; /* Colore di sfondo della barra di navigazione */
    font-family: Arial, sans-serif; /* Font moderno */
    text-align: center; /* Allineamento del testo al centro */
    line-height: 40px; /* Altezza della barra di navigazione */
    display: flex; /* Utilizza Flexbox */
    justify-content: center; /* Centra il contenuto orizzontalmente */
    align-items: center; /* Centra il contenuto verticalmente */
    width: 100%; /* Occupa tutta la larghezza */
}

.navbar ul {
    list-style-type: none;
}

.navbar ul li {
    display: inline;
    margin: 0 30px; /* Spazio tra i link */
}

.navbar ul li a {
    text-decoration: none;
    font-size: 18px;
}

.navbar ul li a:hover {
    text-decoration: underline;
}

/* Stile per i link */
.navbar ul li a {
    color: #f9f9f9;
    text-decoration: none; /* Rimuove la sottolineatura */
    font-size: 18px;
}

/* Stile per i link al passaggio del mouse */
.navbar ul li a:hover {
    text-decoration: none; /* Rimuove la sottolineatura */
    color: #f9f9f9; /* Mantiene il colore originale */
}


/* Stile per il titolo nell'header */
header h1 a {
    color: #fff; /* Colore bianco */
    text-decoration: none; /* Rimuove la sottolineatura */
}

/* Stile per il contenitore delle icone social */
.social-icons {
    display: flex; /* Utilizza Flexbox per posizionare gli elementi in orizzontale */
    justify-content: center; /* Centra gli elementi orizzontalmente */
    margin-top: 20px; /* Aggiungi spazio tra la bio e le icone */
}

/* Stile per le icone social */
.social-icons a {
    display: inline-block; /* Permette il controllo delle dimensioni */
    margin: 0 10px; /* Spazio tra le icone */
}

/* Imposta le dimensioni desiderate per le icone */
.social-icons a img {
    width: 40px; /* Imposta la larghezza delle icone */
    height: auto; /* Imposta l'altezza in base alla larghezza per mantenere l'aspetto proporzionato */
}

/* Media query per dispositivi di larghezza massima di 768px (come tablet e smartphone) */
@media screen and (max-width: 768px) {
    .grid-container {
        grid-template-columns: 1fr; /* Modifica la disposizione in una singola colonna */
        justify-items: center; /* Allinea il contenuto al centro della colonna */
    }

    .photo {
        grid-row: 1; /* Posiziona la foto sopra la biografia */
        grid-column: 1; /* Posiziona la foto nella prima colonna */
    }

    .bio {
        grid-row: 2; /* Posiziona la biografia sotto la foto */
        grid-column: 1; /* Posiziona la biografia nella prima colonna */
        text-align: center; /* Allinea il testo al centro */
    }
}

/* Media query per dispositivi mobili con larghezza massima di 768px */
@media screen and (max-width: 768px) {
    /* Riduci la dimensione del testo del body */
    .bio {
        font-size: 10px;
        
    }
}

/* Stile per il main solo su dispositivi desktop */
@media screen and (min-width: 769px) {
    main {
        min-height: 100vh; /* Altezza minima pari al 100% dell'altezza della finestra del browser */
        overflow: hidden; /* Nasconde la barra di scorrimento verticale */
    }

    /* Assicura che il footer sia posizionato alla fine della finestra del browser */
    main:after {
        content: "";
        display: block;
        height: 100px; /* Altezza del footer */
    }
}

/* Stile per mostrare il footer quando si scorre verso il basso */
body.scrollable-footer footer {
    display: block; /* Mostra il footer quando si scorre verso il basso */
}

/* PUBLICATION HTML ################################################################################################################## */
/* Stile per le pubblicazioni */
.publication {
    margin-bottom: 20px; /* Aggiungi spazio tra le pubblicazioni */
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

/* Stile per il titolo della pubblicazione */
.publication h2 {
    color: #003476; /* Colore del titolo */
    font-size: 24px; /* Dimensione del titolo */
}

/* Stile per il testo delle pubblicazioni */
.publication p {
    color: #003476; /* Colore del testo */
    font-size: 18px; /* Dimensione del testo */
}

/* Stile per il pulsante "Show Abstract" */
.show-abstract-btn {
    background-color: transparent; /* Sfondo trasparente */
    border: 1px solid #003476; /* Bordo */
    color: #003476; /* Colore del testo */
    padding: 10px 20px; /* Spaziatura interna */
    cursor: pointer; /* Cambia il cursore al passaggio del mouse */
    transition: background-color 0.3s, color 0.3s; /* Transizione fluida */
}

.show-abstract-btn:hover {
    background-color: #003476; /* Cambia il colore di sfondo al passaggio del mouse */
    color: #fff; /* Cambia il colore del testo al passaggio del mouse */
}

/* Stile per l'abstract */
.abstract {
    color: #003476; /* Colore del testo */
    font-size: 18px; /* Dimensione del testo */
    margin-top: 10px; /* Spazio superiore */
}
